<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"
           args="-d $(find example0)/config/traj.rviz"> 
    </node>

    <node pkg="example2_1" type="example2_1_node" name="example2_1" output="screen">
        <!-- node parameters -->
        <rosparam file="$(find example0)/config/example0_params.yaml" command="load" />
    </node>
</launch>
